.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    margin: 0 auto;
    max-width: 100%;
}
footer{
    text-align: center;
}
.modal-fieldset label{
    float: left;
}
.modal-fieldset input{
    float: right;
    height: 2em;
    padding-top: 0;
}
.modal-fieldset span{
    float: right;
    
}
.modal-fieldset select{
    height:2em;
}

@media only screen and (min-width: 800px) {main{
    min-height: 800px;
}}